* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.n-big {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: fit-content;
    .navbar {
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;

        background-color: black;
        .logo {
            h1 {
                span {
                    color: red;
                }
            }
        }
        ul {
            display: flex;
            select {
                padding: 10px 20px;
                background-color: black;
            
                color: white;
                border: none;
                -moz-appearance: none;
                /* for Chrome */
                -webkit-appearance: none;
                text-align: center;
            }
select:focus{
    outline: none;
}
            button {
                background-color: transparent;
                border: none;
                margin: 0 10px;
                cursor: pointer;
                a {
                    text-decoration: none;
                }
            }
        }
        .cart-others {
            position: relative;
            button {
                background-color: transparent;
                border: none;
            }
            .img {
                width: 33px;
                height: 33px;
                object-fit: contain;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .cart-items {
                position: absolute;
                top: -5px;
                right: -5px;
                height: 21px;
                width: 21px;
                text-align: center;

                border-radius: 50%;
                background-color: red;
                color: white;
                font-size: 14px;
            }
        }
    }
}

.brand-promise {
    width: 100%;
    height: fit-content;
    background-color: rgb(206, 206, 238);
    padding: 3vh 0;
    text-align: center;
    h1 {
        color: black;
        text-align: center;
        font-family: "Titillium Web", sans-serif;
        span {
            color: red;
            font-family: "Titillium Web", sans-serif;
        }
    }
    .promise-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 5vh auto;
        justify-content: center;
        text-align: center;

        div {
            text-align: center;
            margin: 10px 40px;
            .img {
                width: 70px;
                height: 70px;
                text-align: center;
                margin: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            h3 {
                margin-top: 7px;
                text-align: center;
                color: black;
            }
        }
    }
}
.fastest-growing {
    width: 100%;
    height: fit-content;
    background-color: rgb(46, 46, 46);
    padding: 15px 10vw;
    p {
        color: white;
        font-size: small;
    }
}
.footer {
    width: 100vw;
    height: fit-content;
    padding: 40px 5vw;
    .footer-small {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        .f-1 {
            h1 {
                span {
                    color: red;
                }
            }
            .form-subscribe {
                border: 1px solid rgb(78, 78, 78);
                display: flex;
                align-items: center;
                padding: 10px;
                form {
                    input {
                        width: 20vw;
                        border: none;
                        background-color: transparent;
                    }
                    input:focus {
                        outline: none;
                    }
                }
                button {
                    padding: 7px 30px;
                    background-color: red;
                    color: white;
                    font-weight: bolder;
                    border: 1px solid red;
                }
            }
        }
        .f-2 {
            h3 {
                text-align: center;
            }
            .social-icons {
                display: flex;
                width: fit-content;
                margin: 15px 0;
                .icons-1 {
                    margin: 0px;

                    .img {
                        width: 60px;
                        height: 60px;
                        padding: 20px;
                        position: relative;

                        img {
                            width: 40%;
                            z-index: 20;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        .white-back-hover {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: white;
                            z-index: 10;
                            height: 0%;
                            width: 100%;
                            transition: 0.3s ease;
                        }
                    }
                    .img:hover .white-back-hover {
                        height: 100%;
                    }
                }
            }
        }
        .f-3 {
            h3 {
                text-align: left;
            }
            ul {
                margin: 10px 0;
                li {
                    list-style: none;
                }
            }
        }
    }
}

@media screen and(max-width:768px) {
    .footer {
        width: 100vw;
        height: fit-content;
        padding: 40px 5vw;
        .footer-small {
            display: block;
            width: 100%;
            .f-1 {
                h1 {
                    span {
                        color: red;
                    }
                }
                .form-subscribe {
                    border: 1px solid rgb(78, 78, 78);
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    margin: 15px 0;
                    form {
                        input {
                            width: 20vw;
                            border: none;
                            background-color: transparent;
                        }
                        input:focus {
                            outline: none;
                        }
                    }
                    button {
                        padding: 7px 30px;
                        background-color: red;
                        color: white;
                        font-weight: bolder;
                        border: 1px solid red;
                    }
                }
            }
            .f-2 {
                h3 {
                    text-align: center;
                }
                .social-icons {
                    width: fit-content;
                    margin: 15px auto;
                    .icons-1 {
                        margin: 0px;

                        .img {
                            width: 60px;
                            height: 60px;
                            padding: 20px;
                            position: relative;

                            img {
                                width: 40%;
                                z-index: 20;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            .white-back-hover {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                background-color: white;
                                z-index: 10;
                                height: 0%;
                                width: 100%;
                                transition: 0.3s ease;
                            }
                        }
                        .img:hover .white-back-hover {
                            height: 100%;
                        }
                    }
                }
            }
            .f-3 {
                h3 {
                    text-align: left;
                }
                ul {
                    margin: 10px 0;
                    li {
                        list-style: none;
                    }
                }
            }
        }
    }
}
