* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my-cart {
    width: 400px;
    height: 100vh;
    background-color: white;
    position: fixed;
 transition: 0.4s ease;
 
    top: 0;
    right: -400px;
    z-index: 1222;
    .my-cart-text {
        width: 100%;
        background-color: red;
        height: fit-content;
        padding: 15px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cross {
            button {
                width: 25px;
                height: 25px;
                background-color: transparent;
                border: none;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
            
              
                }
            }
        }
    }
    .all-cart-items {
        width: 100%;
     
        height: 60vh;
        white-space: nowrap;
        overflow-y: scroll;
        overflow-x: hidden;
        color: black;
        text-align: center;
    }
    .all-cart-items::-webkit-scrollbar {
        display: none;
    }
    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 160px;
        background-color: white;
        border-bottom: 0.5px solid rgb(212, 212, 212);
        padding: 15px;
        .cart-item-image {
            width: 35%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .cart-item-info {
            width: 65%;
            height: 100%;
            h4 {
                color: black;
                text-align: left;
            }
            .cart-price {
                color: red;
                font-size: larger;
                text-align: left;
                span {
                    color: grey;
                    font-size: small;
                    text-decoration: line-through;
                }
            }
            .quantity-remove {
                display: flex;
                align-items: center;
            }
            .quantity {
                margin: 20px 0;
                display: flex;
                align-items: center;
                width: 50%;
                .select-quantity {
                    display: flex;
                    width: 90px;
                    justify-content: space-between;
                    align-items: center;
                    border: 2.5px solid rgb(175, 175, 175);
                    border-radius: 5px;
                    padding: 5px;
                    .img {
                        width: 40%;
                        height: 100%;
                        background-color: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 50%;
                            height: 50%;
                            object-fit: contain;
                        }
                    }
                    .quantity-text {
                        h4 {
                            color: black;
                        }
                    }
                }
                p {
                    margin-left: 5px;
                    color: black;
                }
            }
            .remove {
                width: 50%;
                button {
                    width: 100%;
                    padding: 7px 0;
                    background-color: red;
                    color: white;
                    border: none;
                }
            }
        }
    }
    .total-pay-buy-more{
       
        
    .total-cart {
        width: 100%;
        height: fit-content;
        padding: 15px;
        background-color: rgb(202, 200, 200);
        box-shadow: 0 0 3px black;
     
        h4 {
            color: black;
            span {
                color: black;
            }
        }
        h3 {
            color: black;
            font-size: large;
            span {
                color: black;
                font-size: larger;
            }
        }
    }
    .pay-buy-more{
        padding: 15px;
        button{
            width: 100%;
            padding: 12px 0;
            margin: 0px 0 10px 0;
            border-radius: 5px;
            font-weight: bolder;
        }
        .pay{
            background-color: red;
            color: white;
            border: 2px solid red;
        }
        .buy-more{
            background-color: transparent;
            border: 2px solid red;
            color: red;
        }
    }
}}


@media screen and(max-width:600px) {
    .my-cart{
        width: 100vw;
        right: -100vw;
        
    }
}