*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;

}
body{
    background-color: rgb(255, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .center{
        width: 450px;
        height: fit-content;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 18px rgb(216, 8, 8);
        
            h3{
                text-align: center;
                background-color: red;
                border-bottom: 2px solid red;
                color: white;
                padding: 10px ;
            }
            input{
                width: 100%;
                border: 1px solid gray;
                padding: 10px ;
                background-color: transparent;
                margin: 10px 0;
                border-radius: 5px;
            }
            input[type="submit"]{
                background-color: red;
                color: white;
                border: 2px solid red;
                font-weight: bolder;
            }
            input:focus{
                outline: 2px solid red;
                border-color: transparent;
            }
            span{
                display: flex;
                p{
                    margin-left: 5px;
                }
            }
            a{
                button{
                    width: 100%;
                    padding: 10px;
                    border: 2px solid red;
                    color: red;
                    background-color: transparent;
                    font-weight: bolder;
                    border-radius: 5px;
                }
           
        }
    }
}