* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .product-all {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e7e7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 7vh 3vw;
}

body .product-all .product-section-1 {
  width: 30%;
  height: 60vh;
}

body .product-all .product-section-1 .product-img {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #cbcbee;
}

body .product-all .product-section-1 .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .product-all .product-section-2 {
  min-width: 35%;
  margin-left: 30px;
  padding: 0 20px;
}

body .product-all .product-section-2 .thumbnails {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .product-all .product-section-2 .thumbnails .thumbnail-1,
body .product-all .product-section-2 .thumbnails .thumbnail-2 {
  width: 90px;
  height: 90px;
  border: 1px solid grey;
  padding: 15px 10px;
  margin: 15px 15px 0 0;
  border-radius: 5px;
  background-color: transparent;
}

body .product-all .product-section-2 .thumbnails .thumbnail-1 img,
body .product-all .product-section-2 .thumbnails .thumbnail-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .product-all .product-section-2 .thumbnails .thumbnail-1 {
  background-color: #f59c95;
}

body .product-all .product-section-2 .product-info {
  width: 100%;
}

body .product-all .product-section-2 .product-info .product-name h1 {
  color: black;
}

body .product-all .product-section-2 .product-info .product-name .border {
  height: 2px;
  width: 100%;
  background-color: red;
  margin: 0px 0 15px 0;
}

body .product-all .product-section-2 .product-info .product-name .color {
  color: grey;
  margin: 10px 0;
}

body .product-all .product-section-2 .product-info .product-name .color span {
  color: black;
  font-weight: bolder;
}

body .product-all .product-section-2 .product-info .product-name .in-stock {
  width: 100%;
  background-color: #cbcbee;
  padding: 15px;
  margin: 20px 0;
}

body .product-all .product-section-2 .product-info .product-name .in-stock p {
  color: green;
  font-weight: bolder;
}

body .product-all .product-section-2 .product-info .product-name .price h2 {
  color: grey;
}

body .product-all .product-section-2 .product-info .product-name .price h2 span {
  color: black;
}

body .product-all .product-section-2 .product-info .product-name .category h3 {
  color: grey;
}

body .product-all .product-section-2 .product-info .product-name .category h3 span {
  color: black;
}

body .product-all .product-section-2 .product-info .image-small-product {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  border: 1.5px solid red;
  background-color: #f9b9b9;
  padding: 13px;
}

body .product-all .product-section-2 .product-info .image-small-product img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .product-all .product-section-3 .cart {
  border: 2.5px solid #b4b3b3;
  background-color: #d8d8f2;
  padding: 30px;
  border-radius: 5px;
  font-weight: bold;
  min-width: 330px;
}

body .product-all .product-section-3 .cart h1 {
  color: red;
}

body .product-all .product-section-3 .cart h1 #product-price-cart {
  color: red;
  font-size: larger;
}

body .product-all .product-section-3 .cart h1 .offf {
  color: green;
  font-size: 23px;
}

body .product-all .product-section-3 .cart .quantity {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .product-all .product-section-3 .cart .quantity .select-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2.5px solid #afafaf;
  border-radius: 5px;
  padding: 5px;
}

body .product-all .product-section-3 .cart .quantity .select-quantity .img {
  width: 40%;
  height: 100%;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .product-all .product-section-3 .cart .quantity .select-quantity .img img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .product-all .product-section-3 .cart .quantity .select-quantity .quantity-text h4 {
  color: black;
}

body .product-all .product-section-3 .cart .quantity p {
  margin-left: 5px;
  color: black;
}

body .product-all .product-section-3 .cart .add-to-cart input {
  width: 100%;
  padding: 10px 0;
  background-color: red;
  color: white;
  border: none;
  font-weight: bolder;
}

body .description-specification-reviews {
  width: 100vw;
}

body .description-specification-reviews .btns-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70vw;
  margin: auto;
  padding: 10px 0;
  border-bottom: 3px solid red;
  border-top: none;
}

body .description-specification-reviews .btns-3 div {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .description-specification-reviews .btns-3 div button {
  padding: 12px 30px;
  background-color: transparent;
  border: none;
  color: #ceceee;
  font-weight: bolder;
  font-size: larger;
}

body .description-specification-reviews .btns-3 div button:hover {
  color: red;
  background-color: white;
}

body .description-specification-reviews .btns-3 div:hover {
  background-color: white;
}

body .description-specification-reviews .description {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  padding: 20px 10vw 40px 10vw;
}

body .description-specification-reviews .description h1 {
  text-align: center;
  margin: 20px 0;
}

body .description-specification-reviews .description h1 span {
  color: red;
}

body .description-specification-reviews .description p {
  color: white;
}

body .description-specification-reviews .specification {
  width: 100%;
  height: 65vh;
  background-color: red;
  padding: 70px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .description-specification-reviews .specification .ul-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 100%;
  background-color: #e40909;
}

body .description-specification-reviews .specification .ul-big ul {
  margin: 0 20px;
}

body .description-specification-reviews .specification .ul-big ul li {
  color: #f98f8f;
  font-size: larger;
  list-style: none;
}

body .description-specification-reviews .specification .ul-big ul:nth-child(2) {
  color: white;
}

body .description-specification-reviews .specification .ul-big ul:nth-child(2) li {
  color: white;
}

body .description-specification-reviews .specification .img {
  width: 50%;
  height: 100%;
}

body .description-specification-reviews .specification .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .gaming-section-all {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px;
  background-color: #272525;
}

body .gaming-section-all h1 {
  font-size: 37px;
  text-align: center;
}

body .gaming-section-all h1 span {
  color: red;
  font-weight: bolder;
}

body .gaming-section-all .top-picks {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px auto;
  margin-bottom: 100px;
}

body .gaming-section-all .top-picks .card-1 {
  width: 310px;
  height: 380px;
  background-color: #ceceee;
  border-radius: 10px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 11px;
}

body .gaming-section-all .top-picks .card-1 .head {
  width: 100%;
  height: 52%;
}

body .gaming-section-all .top-picks .card-1 .head .offer-red {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: red;
  color: white;
  position: absolute;
  left: 0;
  top: 20px;
  font-weight: bolder;
  z-index: 10;
  padding: 5px 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

body .gaming-section-all .top-picks .card-1 .head img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

body .gaming-section-all .top-picks .card-1 .tail {
  margin-top: 10px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 12px;
}

body .gaming-section-all .top-picks .card-1 .tail h4 {
  color: black;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

body .gaming-section-all .top-picks .card-1 .tail .border {
  height: 1px;
  width: 100%;
  background-color: #d2cbcb;
}

body .gaming-section-all .top-picks .card-1 .tail .price {
  padding: 10px 0;
}

body .gaming-section-all .top-picks .card-1 .tail .price h5 {
  color: red;
  font-size: larger;
}

body .gaming-section-all .top-picks .card-1 .tail .price h5 span {
  color: grey;
  text-decoration: line-through;
  font-size: small;
}

body .gaming-section-all .top-picks .card-1 .tail .price p {
  color: green;
  font-weight: bolder;
}

body .gaming-section-all .top-picks .card-1 .tail .order-btn {
  width: 100%;
}

body .gaming-section-all .top-picks .card-1 .tail .order-btn input {
  width: 100%;
  padding: 8px 0;
  background-color: red;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

body .brand-promise {
  padding: 30px;
  background-color: #ceceee;
}

body .brand-promise h1 {
  text-align: center;
  color: black;
}

body .brand-promise h1 span {
  color: red;
}

body .brand-promise .promise-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

body .brand-promise .promise-grid div {
  margin: 10px 50px;
}

body .brand-promise .promise-grid div .img {
  width: 60px;
  height: 60px;
  margin: 10px auto;
}

body .brand-promise .promise-grid div .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .brand-promise .promise-grid div h3 {
  color: black;
}

body .powered_by {
  width: 100vw;
  height: 65vh;
  padding: 0 10vw;
  background: url(../website-images/background-image-5.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .powered_by .content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
}

body .water_resistance {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65vh;
  padding: 20px 10vw;
  background-color: #272525;
}

body .water_resistance .content {
  padding: 30px;
}

body .water_resistance .content h1 {
  text-align: right;
}

body .water_resistance .content p {
  text-align: right;
}

body .one-click {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 12px solid #272525;
  background-color: #cbcbee;
}

body .one-click div {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-left: 12px solid #272525;
  border-right: 12px solid #272525;
  padding: 25px;
}

body .one-click div h1 {
  color: #272525;
}

body .scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1111;
}

body .scroll-top button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}

body .scroll-top button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1060px) {
  body .product-all {
    display: block;
  }
  body .product-all .product-section-1 {
    width: 100%;
    height: 30vh;
  }
  body .product-all .product-section-1 .product-img {
    width: 100%;
  }
  body .product-all .product-section-2 {
    width: 100%;
    padding: 20px 0;
    margin-left: 0;
  }
}
/*# sourceMappingURL=product.css.map */