* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

button, input {
  cursor: pointer;
}

body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background-color: black;
}

body .carousel-image {
  height: 100vh;
  width: 100vw;
  background: url(../website-images/landing-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 15vh 15vw;
}

body .carousel-image .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body .carousel-image .flex h1 {
  font-size: 45px;
  color: black;
}

body .carousel-image .flex h1 span {
  color: red;
}

body .carousel-image .flex .border-red {
  width: 50%;
  height: 3px;
  border-radius: 5px;
  background-color: red;
}

body .carousel-image .flex h2 {
  font-size: 37px;
  margin: 10px 0;
  color: black;
}

body .carousel-image .flex button {
  width: 50%;
  padding: 10px 0;
  background-color: red;
  color: white;
  font-weight: bolder;
  border: 1px solid red;
}

body .carousel-image .flex img {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .website-content {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .website-content .landing-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10vh auto;
  max-width: 75vw;
  height: 60vh;
}

body .website-content .landing-line .img {
  width: 35%;
  height: 100%;
}

body .website-content .landing-line .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .website-content .landing-line .content {
  width: 50%;
  height: 100%;
  padding: 15px;
}

body .website-content .landing-line .content .content-small h3 {
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
}

body .website-content .landing-line .content .content-small h3 span {
  color: red;
}

body .website-content .landing-line .content .content-small .klrahul {
  color: red;
  margin: 15px 0;
}

body .website-content .landing-line .content .content-small .red-border {
  width: 100%;
  height: 4px;
  background-color: red;
  border-radius: 5px;
  margin: 15px 0;
}

body .website-content .landing-line .content .content-small .fff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .website-content .landing-line .content .content-small .fff h4 {
  margin: 0 5px 0 0;
  font-size: x-large;
}

body .website-content .landing-line .content .content-small p {
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

body .website-content .landing-line .content .content-small button {
  width: 100%;
  padding: 15px 0px;
  border: 1px solid red;
  color: white;
  background-color: red;
  margin-top: 30px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

body .website-content .landing-line .content .content-small button:hover {
  background-color: red;
  color: white;
}

body .website-content .top-seller {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

body .website-content .top-seller h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

body .website-content .top-seller h1 span {
  color: red;
  font-family: "Poppins", sans-serif;
}

body .website-content .top-seller .tab-btns {
  width: 50vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
}

body .website-content .top-seller .tab-btns .btn1 {
  width: 50%;
  border: none;
  border-bottom: 3px solid red;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .website-content .top-seller .tab-btns .btn1 button {
  background-color: transparent;
  color: red;
  font-family: "Poppins", sans-serif;
  padding: 15px 0;
  font-weight: bolder;
  font-size: larger;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: none;
}

body .website-content .top-seller .tab-btns .btn2 {
  width: 50%;
  border: none;
  border-bottom: 3px solid #2c2b2b;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .website-content .top-seller .tab-btns .btn2 button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 15px 0;
  font-weight: bolder;
  font-size: larger;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .website-content .top-seller .top-picks,
body .website-content .top-seller .watches,
body .website-content .top-seller .gaming,
body .website-content .top-seller .trending-wired,
body .website-content .top-seller .smart-watches,
body .website-content .top-seller .trending-wireless {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100vw;
  margin: 30px auto;
  margin-bottom: 100px;
}

body .website-content .top-seller .top-picks .card-1,
body .website-content .top-seller .watches .card-1,
body .website-content .top-seller .gaming .card-1,
body .website-content .top-seller .trending-wired .card-1,
body .website-content .top-seller .smart-watches .card-1,
body .website-content .top-seller .trending-wireless .card-1 {
  width: 310px;
  height: 380px;
  background-color: #ceceee;
  border-radius: 10px;
  margin: 0 15px;
  margin-bottom: 35px;
  position: relative;
  padding: 11px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

body .website-content .top-seller .top-picks .card-1 .head,
body .website-content .top-seller .watches .card-1 .head,
body .website-content .top-seller .gaming .card-1 .head,
body .website-content .top-seller .trending-wired .card-1 .head,
body .website-content .top-seller .smart-watches .card-1 .head,
body .website-content .top-seller .trending-wireless .card-1 .head {
  width: 100%;
  height: 52%;
}

body .website-content .top-seller .top-picks .card-1 .head .offer-red,
body .website-content .top-seller .watches .card-1 .head .offer-red,
body .website-content .top-seller .gaming .card-1 .head .offer-red,
body .website-content .top-seller .trending-wired .card-1 .head .offer-red,
body .website-content .top-seller .smart-watches .card-1 .head .offer-red,
body .website-content .top-seller .trending-wireless .card-1 .head .offer-red {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: red;
  color: white;
  position: absolute;
  left: 0;
  top: 20px;
  font-weight: bolder;
  z-index: 10;
  padding: 5px 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

body .website-content .top-seller .top-picks .card-1 .head img,
body .website-content .top-seller .watches .card-1 .head img,
body .website-content .top-seller .gaming .card-1 .head img,
body .website-content .top-seller .trending-wired .card-1 .head img,
body .website-content .top-seller .smart-watches .card-1 .head img,
body .website-content .top-seller .trending-wireless .card-1 .head img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}

body .website-content .top-seller .top-picks .card-1 .tail,
body .website-content .top-seller .watches .card-1 .tail,
body .website-content .top-seller .gaming .card-1 .tail,
body .website-content .top-seller .trending-wired .card-1 .tail,
body .website-content .top-seller .smart-watches .card-1 .tail,
body .website-content .top-seller .trending-wireless .card-1 .tail {
  margin-top: 10px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 12px;
}

body .website-content .top-seller .top-picks .card-1 .tail h4,
body .website-content .top-seller .watches .card-1 .tail h4,
body .website-content .top-seller .gaming .card-1 .tail h4,
body .website-content .top-seller .trending-wired .card-1 .tail h4,
body .website-content .top-seller .smart-watches .card-1 .tail h4,
body .website-content .top-seller .trending-wireless .card-1 .tail h4 {
  color: black;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

body .website-content .top-seller .top-picks .card-1 .tail .border,
body .website-content .top-seller .watches .card-1 .tail .border,
body .website-content .top-seller .gaming .card-1 .tail .border,
body .website-content .top-seller .trending-wired .card-1 .tail .border,
body .website-content .top-seller .smart-watches .card-1 .tail .border,
body .website-content .top-seller .trending-wireless .card-1 .tail .border {
  height: 1px;
  width: 100%;
  background-color: #d2cbcb;
}

body .website-content .top-seller .top-picks .card-1 .tail .price,
body .website-content .top-seller .watches .card-1 .tail .price,
body .website-content .top-seller .gaming .card-1 .tail .price,
body .website-content .top-seller .trending-wired .card-1 .tail .price,
body .website-content .top-seller .smart-watches .card-1 .tail .price,
body .website-content .top-seller .trending-wireless .card-1 .tail .price {
  padding: 10px 0;
}

body .website-content .top-seller .top-picks .card-1 .tail .price h5,
body .website-content .top-seller .watches .card-1 .tail .price h5,
body .website-content .top-seller .gaming .card-1 .tail .price h5,
body .website-content .top-seller .trending-wired .card-1 .tail .price h5,
body .website-content .top-seller .smart-watches .card-1 .tail .price h5,
body .website-content .top-seller .trending-wireless .card-1 .tail .price h5 {
  color: red;
  font-size: larger;
}

body .website-content .top-seller .top-picks .card-1 .tail .price h5 span,
body .website-content .top-seller .watches .card-1 .tail .price h5 span,
body .website-content .top-seller .gaming .card-1 .tail .price h5 span,
body .website-content .top-seller .trending-wired .card-1 .tail .price h5 span,
body .website-content .top-seller .smart-watches .card-1 .tail .price h5 span,
body .website-content .top-seller .trending-wireless .card-1 .tail .price h5 span {
  color: grey;
  text-decoration: line-through;
  font-size: small;
}

body .website-content .top-seller .top-picks .card-1 .tail .price p,
body .website-content .top-seller .watches .card-1 .tail .price p,
body .website-content .top-seller .gaming .card-1 .tail .price p,
body .website-content .top-seller .trending-wired .card-1 .tail .price p,
body .website-content .top-seller .smart-watches .card-1 .tail .price p,
body .website-content .top-seller .trending-wireless .card-1 .tail .price p {
  color: green;
  font-weight: bolder;
}

body .website-content .top-seller .top-picks .card-1 .tail .order-btn,
body .website-content .top-seller .watches .card-1 .tail .order-btn,
body .website-content .top-seller .gaming .card-1 .tail .order-btn,
body .website-content .top-seller .trending-wired .card-1 .tail .order-btn,
body .website-content .top-seller .smart-watches .card-1 .tail .order-btn,
body .website-content .top-seller .trending-wireless .card-1 .tail .order-btn {
  width: 100%;
}

body .website-content .top-seller .top-picks .card-1 .tail .order-btn input,
body .website-content .top-seller .watches .card-1 .tail .order-btn input,
body .website-content .top-seller .gaming .card-1 .tail .order-btn input,
body .website-content .top-seller .trending-wired .card-1 .tail .order-btn input,
body .website-content .top-seller .smart-watches .card-1 .tail .order-btn input,
body .website-content .top-seller .trending-wireless .card-1 .tail .order-btn input {
  width: 100%;
  padding: 8px 0;
  background: -webkit-gradient(linear, left top, right top, from(#fe3e3e), to(#d40404));
  background: linear-gradient(to right, #fe3e3e, #d40404);
  color: white;
  border: none;
  font-size: medium;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

body .website-content .top-seller .top-picks .card-1 .tail .yellow-btn input,
body .website-content .top-seller .watches .card-1 .tail .yellow-btn input,
body .website-content .top-seller .gaming .card-1 .tail .yellow-btn input,
body .website-content .top-seller .trending-wired .card-1 .tail .yellow-btn input,
body .website-content .top-seller .smart-watches .card-1 .tail .yellow-btn input,
body .website-content .top-seller .trending-wireless .card-1 .tail .yellow-btn input {
  background: -webkit-gradient(linear, left top, right top, from(#f8f833), to(#dede1f));
  background: linear-gradient(to right, #f8f833, #dede1f);
  color: black;
}

body .website-content .top-seller .top-picks .card-1:hover,
body .website-content .top-seller .watches .card-1:hover,
body .website-content .top-seller .gaming .card-1:hover,
body .website-content .top-seller .trending-wired .card-1:hover,
body .website-content .top-seller .smart-watches .card-1:hover,
body .website-content .top-seller .trending-wireless .card-1:hover {
  background-color: #7b7bea;
}

body .website-content .what-people-says {
  background-color: #ceceee;
  padding: 5vh 0 0vh 0;
}

body .website-content .what-people-says h1 {
  text-align: center;
  color: black;
  font-family: "Poppins", sans-serif;
}

body .website-content .what-people-says h1 span {
  color: red;
  font-family: "Poppins", sans-serif;
}

body .website-content .what-people-says .reviews-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 13vh auto;
}

body .website-content .what-people-says .reviews-x .review {
  width: 380px;
  height: 400px;
  position: relative;
  margin: 20px auto;
}

body .website-content .what-people-says .reviews-x .review .head {
  height: 50%;
  width: 100%;
  margin-bottom: -50px;
}

body .website-content .what-people-says .reviews-x .review .head img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 10;
}

body .website-content .what-people-says .reviews-x .review .round-red {
  height: 320px;
  width: 320px;
  border: 1px solid red;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  position: absolute;
}

body .website-content .what-people-says .reviews-x .review .tail {
  height: 50%;
  width: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

body .website-content .what-people-says .reviews-x .review .tail .tt h5 {
  color: white;
}

body .website-content .what-people-says .reviews-x .review .tail .tt button {
  background-color: white;
  color: red;
  padding: 7px 40px;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid white;
  margin: 20px 0 0 0;
}

body .website-content .what-people-says .reviews-x .review .tail .tt button input {
  color: red;
  background-color: transparent;
  border: none;
  font-weight: bolder;
}

body .website-content .in-press h1 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

body .website-content .in-press h1 span {
  color: red;
  font-family: "Titillium Web", sans-serif;
}

body .website-content .in-press .quote {
  max-width: 70vw;
  margin: 4vh auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .website-content .in-press .quote .img1 img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .website-content .in-press .quote .img {
  max-width: 15%;
  width: 60px;
}

body .website-content .in-press .quote .img img {
  width: 100%;
}

body .website-content .in-press .quote p {
  font-size: larger;
  max-height: 100px;
  width: 70%;
}

body .website-content .in-press .press-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

body .website-content .in-press .press-list .img {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  color: #666565;
  background-color: transparent;
  border: none;
}

body .website-content .in-press .press-list .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body .website-content .in-press .press-list .img img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

body .website-content .scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1111;
}

body .website-content .scroll-top button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}

body .website-content .scroll-top button img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  body .carousel-image img {
    display: none;
  }
  body .website-content .landing-line {
    display: block;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .website-content .landing-line .img {
    width: 100%;
    height: 50%;
  }
  body .website-content .landing-line .img img {
    width: 100%;
    height: 100%;
  }
  body .website-content .landing-line .content {
    width: 100%;
    height: 50%;
  }
  body .website-content .new-launches .new-launch-product {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .website-content .new-launches .new-launch-product .img {
    width: 100%;
    height: 50%;
    padding: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  body .website-content .new-launches .new-launch-product .img img {
    width: 50%;
    height: 50%;
  }
  body .website-content .new-launches .new-launch-product .product-description {
    width: 100%;
    height: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  body .website-content .top-seller .tab-btns {
    width: 80vw;
  }
  body .website-content .top-seller .top-picks .card-1,
  body .website-content .top-seller .watches .card-1,
  body .website-content .top-seller .gaming .card-1,
  body .website-content .top-seller .trending-wired .card-1,
  body .website-content .top-seller .smart-watches .card-1,
  body .website-content .top-seller .trending-wireless .card-1 {
    width: 100%;
    height: 500px;
  }
  body .website-content .top-seller .top-picks .card-1 .tail,
  body .website-content .top-seller .watches .card-1 .tail,
  body .website-content .top-seller .gaming .card-1 .tail,
  body .website-content .top-seller .trending-wired .card-1 .tail,
  body .website-content .top-seller .smart-watches .card-1 .tail,
  body .website-content .top-seller .trending-wireless .card-1 .tail {
    margin-top: 12%;
  }
}
/*# sourceMappingURL=style.css.map */